{#
Displays 5 starts of openness for a resource or dataset with explanation

Variable passed-in include all the QA.as_dict() info from the package_show's resource['qa'] e.g.

"format": "CSV",
"openness_score": 3,
"openness_score_reason": "Content of file appeared to be format \"CSV\" which receives openness score: 3."
"archival_timestamp": null,
"resource_timestamp": null,
"created": "2015-11-19T11:01:48.112153",
"updated": "2015-11-19T16:54:49.436434",

OR the package_show's package['qa'] e.g.

"openness_score": 3
"openness_score_reason": "Content of file appeared to be format \"CSV\" which receives openness score: 3.",
"updated": "2015-11-19T16:54:49.480393",

#}
<div class="qa">
  <div class="module-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if openness_score != None %}
        <div class="openness-{{ openness_score }} pull-right">
          {% snippet "qa/stars.html", stars=openness_score %}
        </div>
        {% endif %}
        <h3 class="panel-title">
          <span class="fa fa-eye"></span> {% trans %}Openness{% endtrans %}</h3>
      </div>
      {% if openness_score != None %}
      <div class="panel-body">
        <dl>
          <dt>{% trans %}Reason{% endtrans %}</dt>
          <dd>{{ openness_score_reason }}</dd>
        </dl>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span>{% trans %}Checked{% endtrans %}: {{ h.render_datetime(updated) }}</span>
        </li>
      </ul>
      {% else %}
      <ul class="list-group">
        <li class="list-group-item text-muted">
          {% trans %}No openness information yet.{% endtrans %}
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
