{#
Displays 5 starts of openness for a resource or dataset with explanation

Variable passed-in include all the QA.as_dict() info from the package_show's resource['qa'] e.g.

"format": "CSV",
"openness_score": 3,
"openness_score_reason": "Content of file appeared to be format \"CSV\" which receives openness score: 3."
"archival_timestamp": null,
"resource_timestamp": null,
"created": "2015-11-19T11:01:48.112153",
"updated": "2015-11-19T16:54:49.436434",

OR the package_show's package['qa'] e.g.

"openness_score": 3
"openness_score_reason": "Content of file appeared to be format \"CSV\" which receives openness score: 3.",
"updated": "2015-11-19T16:54:49.480393",

#}

{% resource 'qa/javascript/modules/openness-info.js' %}

<div class="qa">
  <div class="module-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if openness_score != None %}
        <div class="openness-{{ openness_score }} pull-right">
          {% snippet "qa/stars.html", stars=openness_score %}
        </div>
        {% endif %}
        <h3 class="panel-title">
          <span class="fa fa-eye"></span> {% trans %}Openness{% endtrans %}</h3>
      </div>
      {% if openness_score != None %}
      <div class="panel-body">
        <button data-module="openness-info"
          data-module-description="{{ _('An assessment of the level of openness of the data set is granted on the basis of the open government data model, determined through a 5-star system, created by Web founder Tim Berners Lee. The 5-star system is as follows:') }}"
          data-module-one_star="{{ _('data on the web regardless of the format, using an open license')}}"
          data-module-two_stars="{{ _('data in a structural format (such as, for example, Excel) data in a structured, open format (eg. CSV instead of Excel)')}}"
          data-module-three_stars="{{ _('data in a structured, open format (eg. CSV instead of Excel)')}}"
          data-module-four_stars="{{ _('using unique URLs to connect data sets')}}"
          data-module-five_stars="{{ _('linking data with other data for recontext')}}"
          class="btn btn-sm btn-default pull-right"><span class="fa fa-info-circle"></span> {{ _('Evaluation')}}</button>
        <dl>
          <dt>{% trans %}Reason{% endtrans %}</dt>
          <dd>{{ _(openness_score_reason) }}</dd>
        </dl>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span>{% trans %}Checked{% endtrans %}: {{ h.render_datetime(updated) }}</span>
        </li>
      </ul>
      {% else %}
      <ul class="list-group">
        <li class="list-group-item text-muted">
          {% trans %}No openness information yet.{% endtrans %}
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
